<a href="/" class="flex items-center justify-center">
    <div class="relative">
        <img class="w-36 cursor-pointer" src="./logo.png" alt="logo" />
        <div class="absolute -bottom-1 left-0 right-0 h-1 bg-gradient-to-r from-blue-500 to-teal-400 rounded-full"></div>
    </div>
</a>