<% const footerLinks = [
    { id: 1, text: 'About Online Food' },
    { id: 2, text: 'Read our blog' },
    { id: 3, text: 'Sign up to deliver' },
    { id: 4, text: 'Add your restaurant' },
    { id: 5, text: 'Get Help' },
    { id: 6, text: 'Ask any question' },
    { id: 7, text: 'Order Now' },
    { id: 8, text: 'Contact' },
    { id: 9, text: 'Facebook' },
    { id: 10, text: 'Instagram' },
    { id: 11, text: 'Twitter' },
    { id: 12, text: 'Youtube' },
]; %>

<div class="flex pb-8">
    <!-- logo -->
    <div class="flex flex-grow">
        <!-- Inclure le composant de logo ici -->
        <div>
            <img className="w-52" src="./logo.png" alt="logo" />
        </div>
    </div>
    <!-- footer links -->
    <div class="flex space-x-12">
        <div class="flex flex-col space-y-2">
            <% footerLinks.slice(0, 4).forEach(item => { %>
                <span class="text-white poppins"><%= item.text %></span>
            <% }) %>
        </div>
        <div class="flex flex-col space-y-2">
            <% footerLinks.slice(4, 8).forEach(item => { %>
                <span class="text-white poppins"><%= item.text %></span>
            <% }) %>
        </div>
        <div class="flex flex-col space-y-2">
            <% footerLinks.slice(8, 12).forEach(item => { %>
                <span class="text-white poppins"><%= item.text %></span>
            <% }) %>
        </div>
    </div>
</div>