<!-- Header -->
<header id="main-header" class="fixed z-50 top-0 left-0 w-full transition duration-500">
    <div class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-6">
            
            <!-- Liens de navigation -->
            <nav class="hidden md:flex space-x-4">
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">🏠</span><span class="hidden xl:inline ml-2">Home</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">📅</span><span class="hidden xl:inline ml-2">Meal Plans</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">🥗</span><span class="hidden xl:inline ml-2">Nutrition</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">📊</span><span class="hidden xl:inline ml-2">Analytics</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">🛒</span><span class="hidden xl:inline ml-2">Order Groceries</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">👩‍🍳</span><span class="hidden xl:inline ml-2">Recipes</span>
                </a>
                <a href="#" class="bg-white text-gray-800 px-2 lg:px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl">💬</span><span class="hidden xl:inline ml-2">Forum</span>
                </a>
            </nav>
        </div>
        
        <!-- Profil utilisateur -->
        <% if (locals.user && user.username) { %>
            <div class="flex items-center space-x-4">
                <div class="relative flex cursor-pointer" onclick="window.location.href='/orders'">
                    <span class="bg-blue-500 w-6 h-6 rounded-full flex items-center justify-center text-white absolute -right-2 -top-2"><%= order.length %></span>
                    <span class="text-xl">🛒</span>
                </div>
                <div class="bg-white w-10 h-10 flex items-center justify-center rounded-full shadow-md cursor-pointer hover:bg-gray-900 transition duration-300">
                    <span>🔔</span>
                </div>
                <img src="<%= user.photoURL %>" alt="<%= user.username %>" class="w-10 h-10 rounded-full border-2 border-blue-500" />
                <span class="text-gray-700 hidden md:block"><%= user.username %></span>
                <button onclick="logoutUser()" class="cursor-pointer hover:bg-gray-300 text-gray-700 p-2 rounded-full transition duration-300">
                    <span class="text-xl">🚪</span>
                </button>
            </div>
        <% } else { %>
            <div class="flex items-center space-x-4">
                <button onclick="window.location.href='/signin'" class="cursor-pointer bg-white text-gray-800 px-4 py-2 rounded-full shadow-lg hover:bg-gray-900 hover:text-gray-100 transition duration-300">
                    <span class="text-xl mr-2">🔑</span>Connexion
                </button>
                <button onclick="window.location.href='/signup'" class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-full shadow-lg hover:bg-blue-600 transition duration-300">
                    <span class="text-xl mr-2">✨</span>Inscription
                </button>
            </div>
        <% } %>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const header = document.getElementById('main-header');
        const originalClass = header.className;
        const scrolledClass = "bg-white dark:bg-gray-800 fixed z-50 top-0 left-0 w-full shadow-md transition duration-500";

        window.addEventListener('scroll', function() {
            if (window.scrollY > header.offsetHeight) {
                header.className = scrolledClass;
            } else {
                header.className = originalClass;
            }
        });
    });

    function logoutUser() {
        fetch('/api/v1/auth/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${sessionStorage.getItem('token')}`
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erreur lors de la déconnexion');
            }
            return response.json();
        })
        .then(data => {
            alert(data.message || 'Déconnexion réussie');
            sessionStorage.removeItem('token');
            window.location.href = '/signin';
        })
        .catch(error => {
            console.error('Erreur:', error);
            alert('Erreur lors de la déconnexion');
        });
    }
</script>